<div class="row">
    <div class="col-sm-3 project-card" *ngFor="let project of projects">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        {{project.name}}
                    </div>
                    <div class="col-sm-2">
                        <i class="fas fa-edit" routerLink="/project/{{project.id}}"></i>
                    </div>
                    <div class="col-sm-2">
                        <i class="fas fa-trash" (click)="removeProject(project)"></i>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    TODO <br>
                    <div *ngFor="let task of project.tasks">
                        <div *ngIf="!task.completed">
                            <input type="checkbox" name="" id="">{{task.description}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    DONE <br>
                    <div *ngFor="let task of project.tasks">
                        <div *ngIf="task.completed">
                            <input type="checkbox" name="" id="">{{task.description}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <form #ftask="ngForm" [formGroup]="taskForm" (submit)="onSubmit(project,ftask)">
                    <div class="row">                        
                        <div class="col-sm-8">
                            <input type="text" formControlName="description" class="form-control" name="description" placeholder="Task Description" />                
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary">Add</button>
                        </div>                        
                    </div>
                </form>
                </li>
            </ul>
        </div>
    </div>
</div>